img{
    display: block;
    margin: auto;
    background-color: rgb(25, 29, 27);
    padding: 5px;
    border-radius: 50%;
}
.container{
    padding: 20px 150px;
    background-color: rgb(224, 224, 219);
    height: auto;
    border-radius: 8px;
    border: 2px solid #000;
}
.title{
    display: block;
    max-width: 500px;
    color: black;
    font-size: 40px;
    font-weight: 600;
    margin: 15px 0;
}
.subtitle{
    display: block;
    max-width: 400px;
    color: gray;
    font-size: 30px;
    font-weight: 500;
    margin: 15px;
}
.list{
    list-style: none;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-between;
    padding: 0;
    /* border: 1px solid #000; */
    }
.list:last-child{
    border-right: 2px solid #a09f9f;
}
.item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100px;
    gap: 0;
    border-top: 2px solid #a09f9f;
    border-bottom: 2px solid #a09f9f;
    border-left: 2px solid #a09f9f;
}
.top, .bottom{
    font-size: 20px;
}
.bottom {
    font-weight: 600;
}