.status {
    font-weight: 500;
}

.online {
    color: green;
}

.offline {
    color: red;
}

.friendcard {
    display: block;
    align-items: center;
    gap: 10px;
    padding: 15px;
    border: 2px solid #000;
    border-radius: 8px;
}
.images{
    background-color: #fff;
    border-radius: 1%;
}
.subtitle{
    font-size: 20px;
    font-weight: 700;
}
